<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="token">Token</label>
    <input id="token" type="text" name="token" formControlName="token"/>
  </div>
  <div>
    <label for="url">Url</label>
    <input id="rul" type="text" name="url" formControlName="url"/>
  </div>
  <div>
    <label for="method">Método</label>
    <input id="method" type="text" name="method" formControlName="method"/>
  </div>
  <button type="submit">Conectar</button>
</form>
<br />
<div>{{ response | json }}</div>
